{% extends "header.html" %}

{% block content %}
    <doctype html="">
        <title>contrevenants</title>
    <h2>Rechercher un contrevenants</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% from "_formhelpers.html" import render_field %}
    <form method="post">
      <dl>
        {{ render_field(form.selection) }}
        <p>
        {{ render_field(form.recherche) }}
      </p></dl>
      <p><input type="submit" value="recherche">
    </p></form>
    </doctype>
{% endblock %}
